* {
    margin: 0;
    padding: 0;
}

canvas {
    width: 80%;
    height: 500px;
    margin-top: 0px;
    padding-top: 0px;
    margin: 30px;
    border: solid 1px black;
}

#count {
    font-size: 58pt;
    color: blue;
    float: right;
    font-family: Inconsolata;
    padding: 0;
    margin: 0;
}

#gameover {
    display: hidden;
    position: absolute;
    left: auto;
    right: auto;
    font-size: 90pt;
}