<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/estilo.css">

</head>

<body onload="init();">

    <div class="esquerda">

        <div class="fase">
            <h1>Fase: </h1>
            <label id="fase">0</label>
        </div>

        <div class="start">
            <label>Start: </label>
            <br>
            <br>
            <img id="start" src="img/start.png" />
        </div>

    </div>

    <div class="centro">
        <canvas id="canvas"></canvas>
    </div>

    <div class="direita">

        <div class="ice">
            <img id="imgCongelar" src="img/snowflake.png" />
            <img class="maisImg" id="maisIce" src="img/mais.png" /> <label id="lblMaisIce">30</label>
        </div>

        <div class="bala">
            <img id="imgBala" src="img/bala.png" />
            <img class="maisImg" id="maisBala" src="img/mais.png" /> <label id="lblMaisBala">30</label>
        </div>

        <div class="gravidade">
            <img id="imgGravidade" src="img/astronaut.png" />
            <img class="maisImg" id="maisGravidade" src="img/mais.png" /> <label id="lblMaisGravidade">50</label>
        </div>

        <div class="lifeDez">
            <img id="imgLifeDez" src="img/coracao.png" />
            <img class="maisImg" id="lifeDez" src="img/mais.png" /> <label id="lblLifeDez">30</label>
        </div>

        <div class="lifeFull">
            <img id="imgLifeFull" src="img/coracao.png" />
            <img class="maisImg" id="lifeFull" src="img/mais.png" /> <label id="lblLifeFull">100</label>
        </div>

        <div class="saldo">
            <img src="img/cifrao.png" /> <label id="lblSaldo">0</label>

        </div>

        <div class="life">
            <img src="img/coracao.png" /> <label id="lblLife">100</label>
        </div>

        <div class="pontos">
            Pontos: <label id="lblPontos"></label>
        </div>

        <div class="ice">
            <img id="setCongelar" src="img/snowflake.png" /> <label id="lblCongelar">0</label>
        </div>

        <div class="bala">
            <img id="setTiroRasante" src="img/bala.png" /> <label id="lblTiroRasante">0</label>
        </div>

        <div class="gravidade">
            <img id="setGravidadeZero" src="img/astronaut.png" /> <label id="lblGravidadeZero">0</label>
        </div>



    </div>

    <script src="/main.js"></script>
    <script src="/setupCanvas.js"></script>
    <script src="models/tiro.js"></script>
    <script src="models/balao.js"></script>
    <script src="models/fase.js"></script>
    <script src="regras/interaction.js"></script>
    <script src="regras/menu.js"></script>

</body>

</html>