<!DOCTYPE html>

<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/estilo.css">

</head>

<body onload="init();">

    <div class="row">
        <div class="col-lg-3">
            <div class="container">
                <h1>Fase: </h1>
                <label id="fase">0</label>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <button id="start" onclick="start()">Start</button>
                    </li>
                </ul>
            </div>

        </div>

        <div class="divCanvas">
            <canvas id="canvas"></canvas>
        </div>

        <div class="col-lg-3">

            <div class="ice">
                <img id="imgCongelar" src="img/snowflake.png" />
                <img class="maisImg" id="maisIce" src="img/mais.png" /> <label id="lblMaisIce">30</label>
            </div>

            <div class="bala">
                <img id="imgBala" src="img/bala.png" />
                <img class="maisImg" id="maisBala" src="img/mais.png" /> <label id="lblMaisBala">30</label>
            </div>

            <div class="gravidade">
                <img id="imgGravidade" src="img/astronaut.png" />
                <img class="maisImg" id="maisGravidade" src="img/mais.png" /> <label id="lblMaisGravidade">50</label>
            </div>

            <div class="lifeDez">
                <img id="imgLifeDez" src="img/coracao.png" />
                <img class="maisImg" id="lifeDez" src="img/mais.png" /> <label id="lblLifeDez">30</label>
            </div>

            <div class="lifeFull">
                <img id="imgLifeFull" src="img/coracao.png" />
                <img class="maisImg" id="lifeFull" src="img/mais.png" /> <label id="lblLifeFull">100</label>
            </div>

            <div class="saldo">
                <img src="img/cifrao.png" /> <label id="lblSaldo">0</label>

            </div>

            <div class="life">
                <img src="img/coracao.png" /> <label id="lblLife">100</label>
            </div>

            <div class="pontos">
                Pontos: <label id="lblPontos"></label>
            </div>

            <div class="ice">
                <img id="setCongelar" src="img/snowflake.png" /> <label id="lblCongelar">0</label>
            </div>

            <div class="bala">
                <img id="setTiroRasante" src="img/bala.png" /> <label id="lblTiroRasante">0</label>
            </div>

            <div class="gravidade">
                <img id="setGravidadeZero" src="img/astronaut.png" /> <label id="lblGravidadeZero">0</label>
            </div>
        </div>
    </div>


    <script src="/main.js"></script>
    <script src="/setupCanvas.js"></script>
    <script src="models/tiro.js"></script>
    <script src="models/balao.js"></script>
    <script src="models/fase.js"></script>
    <script src="regras/interaction.js"></script>
    <script src="regras/menu.js"></script>

</body>

</html>