<!DOCTYPE html>
<html lang="pt-br">

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BTD</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body onload="init();">

    <div class="container-fluid h-100">

        <div class="row justify-content-center h-100">

            <div class="col-m-2 col-lg-2 col-xl-2 esquerda">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-m-12 col-lg-12 col-xl-12">
                            <h1>Bloons Tower Defense</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-m-6 col-lg-6 col-xl-6">
                            <p>Fase: </p>
                        </div>

                        <div class="col-m-6 col-lg-6 col-xl-6">
                            <label id="fase">1</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-m-12 col-lg-12 col-xl-12">
                            <button class="btn btn-primary btn-lg btn-block" id="start">Start</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-m-12 col-lg-12 col-xl-12">
                            <a href="/teste"><button class="btn btn-primary btn-lg btn-block">Como Jogar</button></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-m-12 col-lg-12 col-xl-12">
                            <h1>Comprar</h1>
                        </div>
                    </div>

                    <div class="row congelar">
                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <img id="imgCongelar" src="img/snowflake.png" />
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <label id="lblMaisIce">30</label>
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <button type="button" id="maisIce" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>

                    <div class="row tiro-rasante">
                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <img id="imgBala" src="img/bala.png" />
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <label id="lblMaisBala">30</label>
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <button type="button" id="maisBala" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>

                    <div class="row gravidade-zero">
                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <img id="imgGravidade" src="img/astronaut.png" />
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <label id="lblMaisGravidade">50</label>
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <button type="button" id="maisGravidade" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>

                    <div class="row life-dez">
                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <img id="imgLifeDez" src="img/coracao.png" />
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <label id="lblLifeDez">30</label>
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <button type="button" id="lifeDez" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>

                    <div class="row life-full">
                        <div class="col-m-4 ol-lg-4 col-xl-4">
                            <img id="imgLifeFull" src="img/coracao.png" />
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <label id="lblLifeFull">100</label>
                        </div>

                        <div class="col-m-4 col-lg-4 col-xl-4">
                            <button type="button" id="lifeFull" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divCanvas col-m-8 col-lg-8 col-xl-8">

                <canvas id="canvas"></canvas>

            </div>

            <div class="col-m-8 col-lg-2 col-xl-2 direita">

                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <h1>Info</h1>
                    </div>
                </div>

                <div class="row life">
                    <div class="col-m-3 col-lg-3 col-xl-3">
                        <img id="life" src="img/coracao.png" />
                    </div>

                    <div class="col-m-3 col-lg-3 col-xl-3">
                        <label id="lblLife">100</label>
                    </div>

                    <div class="col-m-3 col-lg-3 col-xl-3">
                        <label>X</label>
                    </div>

                    <div class="col-m-3 col-lg-3 col-xl-3 align">
                        <label>Y</label>
                    </div>
                </div>

                <div class="row saldo">
                    <div class="col-m-6 col-lg-6 col-xl-6">
                        <img src="img/cifrao.png" />
                    </div>

                    <div class="col-m-6 col-lg-6 col-xl-6">
                        <label id="lblSaldo">0</label>
                    </div>
                </div>

                <div class="pontos">
                    <div class="col-m-6 col-lg-6 col-xl-6">
                        <label>Pontos:</label>
                    </div>
                    <div class="col-m-6 col-lg-6 col-xl-6">
                        <label id="lblPontos"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <h1>Utilizar</h1>
                    </div>
                </div>

                <div class="row usar-congelar">
                    <div class="col-lg-4 col-xl-4">
                        <img id="setCongelar" src="img/snowflake.png" />
                    </div>

                    <div class="col-lg-4 col-xl-4">
                        <label id="lblCongelar">0</label>
                    </div>

                    <div class="col-lg-4 col-xl-4">
                        <button type="button" id="" class="btn btn-primary">Usar</button>
                    </div>
                </div>

                <div class="row usar-tiro-rasante">
                    <div class="col-lg-4 col-xl-4">
                        <img id="setTiroRasante" src="img/bala.png" />
                    </div>

                    <div class="col-lg-4 col-xl-4">
                        <label id="lblTiroRasante">0</label>
                    </div>

                    <div class="col-lg-4 col-xl-4">
                        <button type="button" id="" class="btn btn-primary">Usar</button>
                    </div>
                </div>

                <div class="row usar-gravidade-zero">
                    <div class="col-lg-4 col-xl-4">
                        <img id="setGravidadeZero" src="img/astronaut.png" />
                    </div>

                    <div class="col-lg-4 col-xl-4">
                        <label id="lblGravidadeZero">0</label>
                    </div>

                    <div class="col-lg-4 col-xl-4">
                        <button type="button" id="" class="btn btn-primary">Usar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="/main.js"></script>
    <script src="/setupCanvas.js"></script>
    <script src="models/tiro.js"></script>
    <script src="models/balao.js"></script>
    <script src="models/fase.js"></script>
    <script src="regras/interaction.js"></script>
    <script src="regras/menu.js"></script>
    <link rel="stylesheet" type="text/css" href="/estilo.css">

</body>

</html>