body,
html {
  height: 100%
}
canvas {
  height: 99vh;
  width: 100%;
  cursor: none
}
.esquerda {
  border: solid 1px red
}
.direita {
  border: solid 1px #00f;
  overflow: auto;
}
img {
  margin: 10px;
  height: 30px;
  width: 30px;
  top: 30px
}